@model IEnumerable<MVCVentas.Models.VMStock>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Articulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Articulo.Id_Articulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Articulo">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id_Articulo">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Articulo">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
