@model MVCVentas.Models.VMPromoDescuento_E

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-card {
        width: 50%;
    }

    .custom-card-dos {
        width: 50%;
        text-align: left;
        padding: 0;
        margin: 0;
        margin-top: 10px;
    }

/*     .custom-column {
        width: 50px;
    } */
</style>

<h1>Detalles de la promoción</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Nombre de Promoción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            Porcentaje
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Porcentaje)
        </dd>
        <dt class="col-sm-2">
            Incio de Promoción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaInicio)
        </dd>
        <dt class="col-sm-2">
            Fin de Promoción
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FechaFin)
        </dd>
        <dt class="col-sm-2">
            Tipo
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TipoPromoDescuento.Descripcion)
        </dd>
    </dl>
    <dt class="">
        Artículos de la promoción:
    </dt>
    <div class=" mb-4 custom-card">
        <div class="card-body custom-card-dos">
            <div class="table-responsive">
                <table class="table table-bordered" id="articulosTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th class="custom-column">
                                ID Artículo
                            </th>
                            <th class="custom-column">
                                Artículo
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.ListPromoDescuento_D)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Id_Articulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Articulo.Nombre)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id_Promocion">Editar</a> |
    <a asp-action="Index">Volver</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $(document).ready(function () {
            // Inicializar la tabla con DataTables
            $('#articulosTable').DataTable({
                "paging": false,          // Desactivar paginación
                "scrollY": "400px",       // Altura fija con barra de desplazamiento si es necesario
                "scrollCollapse": true,   // Colapsar la tabla si la altura es menor que el contenido
                "searching": false,        // Habilitar la función de búsqueda
                "ordering": false,          // Deshabilitar el ordenamiento de columnas"
                "info": false,              // Deshabilitar la información de la tabla"
                "columnDefs": [
                    {
                        "targets": [0],
                        "width": "50px" // Ancho fijo en píxeles para la primera columna
                    },
                    {
                        "targets": [1],
                        "width": "50px" // Ancho fijo en porcentaje para la segunda columna
                    }
                ]
            });
        });
    </script>
}