@model IEnumerable<MVCVentas.Models.VMModulo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .custom-card {
        width: 65%;
        margin: 10px auto;
    }

    .custom-column {
        width: 50%;
    }
</style>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Módulos</title>
</head>
<body>
    <div class="card shadow mb-4 custom-card">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Módulos</h6>
            <a class='btn btn-primary btn-sm' asp-action="Create">Nuevo Módulo</a>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.CodModulo)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Descripcion)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CodModulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Descripcion)
                                </td>
                                <td class="text-center">
                                    <a class='btn btn-primary btn-sm' asp-action="Edit" asp-route-id="@item.CodModulo">Editar</a>
                                    <label>|</label>
                                    <a class='btn btn-primary btn-sm' asp-action="Details" asp-route-id="@item.CodModulo">Detalles</a>

                                    @if (User.IsInRole("Admin") || User.IsInRole("Supervisor"))
                                    {
                                        <label>|</label>
                                        <a class='btn btn-danger btn-sm' asp-action="Delete" asp-route-id="@item.CodModulo">Eliminar</a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>