@model MVCVentas.Models.VMVentas

@{
    ViewData["Title"] = "Home Page";
}

@{
    var listaArticulos = ViewData["ListaArticulos"] as List<SelectListItem>;
    var listaVacia = ViewData["ArticulosEnResumenVentas"] as List<MVCVentas.Models.VMArticle>;
}

@{
    Layout = "_Layout1";
}

<title>Reportes ASP NET - POS</title>

<link href="~/css/sistemaventasstyle.css" rel="stylesheet" />
<link href="~/css/sistemaventasresumenventa.css" rel="stylesheet" />
<link href="~/css/sistemavendasdetalleventa.css" rel="stylesheet" />
<link href="~/css/promosDescuentos.css" rel="stylesheet" />
<link href="~/css/sistemaVentasCombos.css" rel="stylesheet" />
<link href="~/css/sistemaventascupones.css" rel="stylesheet" />
<link href="~/css/sistemaVentasFormasPago.css" rel="stylesheet" />
<link href="~/css/retiraPartial.css" rel="stylesheet" />

<html>
<body>

    <!-- Inicio NavBar -->
    @Html.Partial("~/Views/Shared/_navBarPartial.cshtml")
    <!-- Fin NavBar -->

    <div class="container-fluid">
        <div class="grid-container">
            <div class="tabla-articulos" id="div-tabla-articulos">
                <div>
                    <h3>Artículos</h3>
                </div>
                <div class="contenedor-tabla">
                    <table id="table-Articulos">
                        <tbody id="tabla-body">
                        </tbody>
                    </table>
                </div>
                <div class="navegacion">
                    <button class="anterior" disabled>Anterior</button>
                    <button class="siguiente" disabled>Siguiente</button>
                </div>
            </div>
            <div class="resumen-venta">
                <div>
                    <h3>Resumen de la Venta</h3>
                </div>
                <div id="div-Resumen-Venta">
                    <table id="table-resumen-venta" class="display">
                        <thead>
                            <tr>
                                <th id="id_ArticuloH">ID</th>
                                <th id="nombreH">Nombre</th>
                                <th id="precioH">Precio</th>
                                <th id="cantidadH">Cantidad</th>
                                <th id="precio-TotalH">Total</th>
                                <th id="AccionH">Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="contenedor-rubros-promociones" id="id-contenedor-rubros-promociones">
                <div>
                    <h3>Rubros</h3>
                </div>
                <div class="contenedor-tabla-rubro">
                    <table id="table-Rubros">
                        <tbody id="tabla-body-rubros">
                        </tbody>
                    </table>
                </div>
                <div class="navegacion">
                    <button class="anteriorRubro" disabled>Anterior</button>
                    <button class="siguienteRubro" disabled>Siguiente</button>
                </div>

                <div id="botones-promo-desc">
                    <div>
                        <button data-toggle="modal" data-target="#promos-Modal">Promociones</button>
                    </div>
                    <div>
                        <button data-toggle="modal" data-target="#descuentos-Modal">Descuentos</button>
                    </div>
                    <div>
                        <button data-toggle="modal" data-target="#cupones-Modal">Cupones</button>
                    </div>
                </div>

            </div>

            <div class="contenedor-detalle-venta">
                <hr />
                    <dl class="row">
                        <dt class="col-sm-10">
                            <label>Detalle de la Venta</label>
                        </dt>

                    <form id="formVenta">

                        <div class="form-group">
                            <div>
                                <label asp-for="CodComprobante" for="comprobante-select">Comprobante:</label>
                            </div>
                            <div>
                                <select asp-for="CodComprobante" class="form-control" id="comprobante-select" asp-items="ViewBag.ListaComprobantes"></select>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <label asp-for="CodCliente" for="cliente-select">Cliente:</label>
                            </div>
                            <div>
                                <select asp-for="CodCliente" class="form-control" id="cliente-select" asp-items="ViewBag.ListaClientes"></select>
                            </div>
                            <div>
                                <button type="button" class="btn btn-primary" id="btn-cliente-modal" data-toggle="modal" data-target="#nuevoClienteModal">Nuevo Cliente</button>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <label asp-for="Id_FormaPago" for="forma">Forma de Pago:</label>
                            </div>
                            <div>
                                <select asp-for="Id_FormaPago" class="form-control" id="forma" asp-items="ViewBag.ListaMedioPago"></select>
                            </div>
                            <div>
                                @* Lista de tarjeta *@
                                <select asp-for="Ventas_TipoTransaccion.VMTipoTransaccion.VMTipoTarjeta.CodTarjeta" class="form-control" id="listaTarjetas" asp-items="ViewBag.ListaTarjetas"></select>

                                @* Boton Forma de pago, llama a un modal con todos los medios de pago disponibles *@
                                <button type="button" class="btn btn-primary" id="btn-formaspago-modal" data-toggle="modal" data-target="#formaPago-Modal" onclick="calcularTotalFormaPago()">Formas de Pago</button>

                            </div>
                        </div>

                        <div class="form-group">
                            <select asp-for="CodModulo" class="form-control" id="modulo-select" asp-items="ViewBag.ListaModulosVTAS" hidden></select>
                        </div>

                        <div class="form-group">
                            <div>
                                <label>Subtotal:</label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="subtotal" value="0" readonly />
                            </div>
                            @* Formulario para pago en efectivo *@
                            <div class="div-efectivo-monto">
                                <label>Paga con:</label>
                                <input type="number" class="form-control input-text-efectivoMonto" id="efectivo-monto" value="0" min="0"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <label>Descuento:</label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="descuento" value="0" readonly />
                                <!-- Input Hiden para guardar el ID del descuento -->
                                <input type="hidden" id="id-descuento-input" />
                            </div>
                            @* Formulario para pago en efectivo *@
                            <div class="div-efectivo-monto">
                                <label>Vuelto:</label>
                                <input type="number" class="form-control input-text-efectivoMontoResto" id="efectivo-monto-resto" value="0" disabled />
                            </div>
                        </div>

                        <div class="form-group">
                            <div>
                                <label>Total:</label>
                            </div>
                            <div>
                                <input type="text" class="form-control" id="total" value="0" readonly />
                            </div>
                        </div>

                    </form>

                    <!-- Modal de Nuevo Cliente -->

                    <div class="modal fade" id="nuevoClienteModal" tabindex="-1" role="dialog" aria-labelledby="nuevoClienteModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="cliente-modal">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="nuevoClienteModalLabel">Crear Cliente</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("~/Views/Clientes/_PartialCreateClientes.cshtml", new MVCVentas.Models.VMCliente(), ViewData)
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button type="button" class="btn btn-primary" onclick="crearCliente()">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal de Configuración -->

                    <div class="modal fade" id="config-Modal" tabindex="-1" role="dialog" aria-labelledby="config-ModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="config-modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="config-ModalLabel">Configuración</h5>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("~/Views/Configs/_ConfigPartial.cshtml", new MVCVentas.Models.VMConfig())
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cerrarModalConfig()">Cerrar</button>
                                    <div id="mensaje-confg" style="margin-top: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modals de Promociones, Descuentos y Cupones -->

                    <div class="modal fade" id="promos-Modal" tabindex="-1" role="dialog" aria-labelledby="promos-ModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="promos-Modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="promos-ModalLabel">Promociones</h5>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("~/Views/Ventas/_PromocionesPartial.cshtml", new MVCVentas.Models.VMPromoDescuento_E())
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="">Cerrar</button>
                                    <div id="mensaje-promo" style="margin-top: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal fade" id="descuentos-Modal" tabindex="-1" role="dialog" aria-labelledby="descuentos-ModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="descuentos-Modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="descuentos-ModalLabel">Descuentos</h5>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("~/Views/Ventas/_DescuentosPartial.cshtml", new MVCVentas.Models.VMPromoDescuento_E())
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="cerrarModalDescuentos()">Cerrar</button>
                                    <div id="mensaje-descuento" style="margin-top: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="modal fade" id="cupones-Modal" tabindex="-1" role="dialog" aria-labelledby="cupones-ModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="cupones-Modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="cupones-ModalLabel">Cupones</h5>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("~/Views/Ventas/_CuponesPartial.cshtml")
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="boton-cancelar-cupon" onclick="cerrarModalCupones()">Cancelar</button>
                                    <button type="button" class="btn btn-success"  id="boton-enviar-solicitud">Aceptar</button>
                                    <div id="mensaje-cupones" style="margin-top: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal tipo de artículo (Solo / Combo) -->

                    <div class="modal fade" id="tipoArt-Modal" tabindex="-1" role="dialog" aria-labelledby="tipoArt-ModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="tipoArt-Modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="tipoArt-ModalLabel">Tipo de Artículo</h5>
                                </div>
                                <div class="modal-body">
                                    @Html.Partial("~/Views/Ventas/_TipoArtPartial.cshtml")
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="">Cerrar</button>
                                    <div id="mensaje-tipoArt" style="margin-top: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modals Combos -->

                    <div class="modal fade" id="combos-Modal" tabindex="-1" role="dialog" aria-labelledby="combos-ModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="combos-Modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="combos-ModalLabel">Combos</h5>
                                </div>
                                <div class="modal-body">
                                    
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="">Cerrar</button>
                                    <div id="mensaje-combos" style="margin-top: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modals Formas de Pago -->

                    <div class="modal fade" id="formaPago-Modal" tabindex="-1" role="dialog" aria-labelledby="formaPago-ModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content" id="formaPago-Modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="formaPago-ModalLabel">Seleccionar Formas de Pago</h5>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table" id="formasPagoTable">
                                        <thead>
                                            <tr>
                                                <th>Forma de Pago</th>
                                                <th>Seleccionar</th>
                                                <th>Monto</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!--  Recorrer la lista de formas de pago -->
                                            @foreach (var formaPago in (SelectList)ViewData["ListaMedioPagoModal"])
                                            {
                                                <tr>
                                                    <td id="@formaPago.Text">@formaPago.Text</td>
                                                    <td>
                                                        <input type="checkbox" class="input-checkbox-formasPago" id="@($"{formaPago.Text}-checkbox")" name="FormasPagoSeleccionados" value="@formaPago.Value">
                                                    </td>
                                                    <td class="td-text-formasPago">
                                                        <input type="number" class="form-control input-text-formasPago" id="@($"{formaPago.Value}-monto-formaPago")" value="0" min="0" disabled data-id="@formaPago.Value"/>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                                @* Lista de tarjeta *@
                                <div class="modal-footer">
                                    <label id="listaTarjetas-modal-label" hidden>Tarjeta:</label>
                                    <select asp-for="Ventas_TipoTransaccion.VMTipoTransaccion.VMTipoTarjeta.CodTarjeta" class="form-control" id="listaTarjetas-modal" asp-items="ViewBag.ListaTarjetas" disabled hidden></select>
                                </div>
                                <div class="modal-footer">
                                    <div id="div-total-formaPago">
                                        <label>Total:</label>
                                        <input type="text" class="form-control" id="total-formaPago" value="0" readonly />
                                        <label>Resta:</label>
                                        <input type="text" class="form-control" id="resto-formaPago" value="0" readonly />
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Fin Modals Formas de Pago -->

                    <!-- Modal Cliente Retira -->

                    <div class="modal fade" id="retira-Modal" tabindex="-1" role="dialog" aria-labelledby="retira-ModalLabel" aria-hidden="true">
                        <div class=" modal-dialog" role="document">
                            <div class="modal-content" id="retira-Modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="retira-ModalLabel">Nombre de Cliente:</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group row">
                                        <label for="nombre-retira" class="col-form-label">Nombre:</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="nombre-retira" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="" id="btn-aceptar-retira">Aceptar</button>
                                    <div id="mensaje-retira" style="margin-top: 5px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Fin Modal Cliente Retira -->

                    <div class="row" id="btn-vender-cancelar">
                        <dd class="">
                            <button class="btn btn-danger" id="btn-cancel-venta">Cancelar Venta</button>
                            <button class="btn btn-success" id="btn-venta" onclick="CrearVenta()">Vender</button>
                        </dd>
                    </div>
                    <div id="mensaje-ventas" style="margin-top: 5px;"></div>
                    <div id="mensaje-email-factura" style="margin-top: 5px;"></div>

                </dl>
            </div>
        </div>
    </div>

</body>
</html>

@section Scripts {

    @* <script src="~/js/sessiontimeout.js"></script> *@

    <!-- Script para el manejo de la tabla de artículos -->
    <script>
        //////////////////////////////////// Lógica para Actualizar los botones de navegación y los botones de artículos ////////////////////////////////////
        
        // Array con los datos de los artículos (ejemplo)
        const articulos = @Html.Raw(ViewData["JsonListaArticulos"]);
        const articulosConCombos = @Html.Raw(ViewData["JsonListaArticulosConCombo"]);
        
        // Variables para la paginación
        let paginaActualArt = 1; // ¡Variable Global!
        let paginaActualRub = 1; // ¡Variable Global!
        const articulosPorPagina = 12; // Cambiar el número de artículos por página a 12
        const columnasPorFila = 3; // Definir el número de columnas por fila -- ¡Variable Global! --

        const tablaBody = document.getElementById("tabla-body");
        tablaBody.innerHTML = ""; // Borrar filas anteriores

        // Obtener los artículos de la página actual
        const articulosPaginaActual = articulos.slice(
            (paginaActualArt - 1) * articulosPorPagina,
            paginaActualArt * articulosPorPagina
        );

        // Función Obsoleta.
        function actualizarEventListenersEliminarArticulo(){
            document.querySelectorAll(".eliminar").forEach(boton => {
                boton.addEventListener("click", function () {
                    const fila = this.closest("tr");
                    const id_Articulo = fila.dataset.id;
                    fila.remove();
                    });
            });
        }

        // Función Obsoleta:
        function actualizarBotonesArticulos() {
            tablaBody.innerHTML = ""; // Limpiar el contenido existente antes de agregar nuevas filas

            // Obtener los artículos de la página actual
            const articulosPaginaActual = articulos.slice(
                (paginaActualArt - 1) * articulosPorPagina,
                paginaActualArt * articulosPorPagina
            );

            // Agrupar los artículos en filas y columnas
            for (let i = 0; i < articulosPaginaActual.length; i += columnasPorFila) {
                const fila = document.createElement("tr");
                for (let j = i; j < i + columnasPorFila && j < articulosPaginaActual.length; j++) {
                    const articulo = articulosPaginaActual[j];
                    const celda = document.createElement("td");
                    const botonArticulo = document.createElement("button");
                    botonArticulo.innerHTML = `<strong>${articulo.Text}</strong> (${articulo.Value})</strong><br>$${articulo.Precio}`;
                    botonArticulo.dataset.id = articulo.Value;
                    celda.appendChild(botonArticulo);
                    fila.appendChild(celda);
                }
                tablaBody.appendChild(fila);
            }

            // Mostrar/ocultar botones de navegación
            const botonAnterior = document.querySelector(".anterior");
            const botonSiguiente = document.querySelector(".siguiente");

            botonAnterior.disabled = paginaActualArt === 1;
            botonSiguiente.disabled = articulosPaginaActual.length < articulosPorPagina;

            // Agregar event listeners a los botones de artículos
            agregarEventListenersBotonesArticulos();
        }

        // Eventos para los botones de navegación

        //////////////////////////////////// Lógica para traer artículos por Rubros ////////////////////////////////////

        // Array con los rubros
        const rubros = @Html.Raw(ViewData["JsonListaRubros"]);

        const rubrosPorPagina = 6;

        const tablaBodyRubros = document.getElementById("tabla-body-rubros");
        tablaBodyRubros.innerHTML = "";

        // Obtener rubros de la página actual
        const rubrosPaginaActual = rubros.slice(
            (paginaActualRub - 1) * rubrosPorPagina,
            paginaActualRub * rubrosPorPagina
        );

        // Función para agregar los rubros a la tabla
        function agregarRubros() {

            const tablaBodyRubros = document.getElementById("tabla-body-rubros");
            tablaBodyRubros.innerHTML = "";

            // Obtener rubros de la página actual
            const rubrosPaginaActual = rubros.slice(
                (paginaActualRub - 1) * rubrosPorPagina,
                paginaActualRub * rubrosPorPagina
            );

            for (let i = 0; i < rubrosPaginaActual.length; i += columnasPorFila) {

                const fila = document.createElement("tr");

                for (let j = i; j < i + columnasPorFila && j < rubrosPaginaActual.length; j++) {

                    const rubro = rubrosPaginaActual[j];
                    const celda = document.createElement("td");
                    const botonRubro = document.createElement("button");

                    botonRubro.innerHTML = `<strong>${rubro.Text}</strong>`;
                    botonRubro.dataset.id = rubro.Value;

                    celda.appendChild(botonRubro);
                    fila.appendChild(celda);
                }
                tablaBodyRubros.appendChild(fila);
            }

            const botonAnterior = document.querySelector(".anteriorRubro");
            const botonSiguiente = document.querySelector(".siguienteRubro");

            botonAnterior.disabled = paginaActualRub === 1;
            botonSiguiente.disabled = rubrosPaginaActual.length < rubrosPorPagina;

            actualizarBotonesArticulosPorRubros();
        }
        agregarRubros();

        // Eventos para los botones de navegación
        document.querySelector(".anteriorRubro").addEventListener("click", () => {
            paginaActualRub--;
            agregarRubros();
        });

        document.querySelector(".siguienteRubro").addEventListener("click", () => {
            paginaActualRub++;
            agregarRubros();
        });

        let idRubroActual;

        // Función para agregar event listeners a los botones de
        function actualizarBotonesArticulosPorRubros() {

            tablaBodyRubros.querySelectorAll("button").forEach(boton => {
                boton.addEventListener("click", function () {

                    paginaActualArt = 1;
                    // Obtener el ID del rubro
                    const id_Rubro = this.dataset.id;

                    idRubroActual = this.dataset.id;

                    // Llamar a la función para filtrar los artículos por rubro
                    filtrarArticulosPorRubro(id_Rubro);
                });
            });
        }

        // Función para filtrar los artículos por Rubro:
        function filtrarArticulosPorRubro(id_Rubro) {
            // Convierte la cadena JSON de la lista de artículos en un objeto JavaScript.
            var listaArticulos = JSON.parse('@Html.Raw(ViewData["JsonListaArticulos"])');
            var listaRubros = JSON.parse('@Html.Raw(ViewData["JsonListaRubros"])');

            var articulosFiltrados = listaArticulos.filter(articulo => articulo.Rubro === id_Rubro);

            tablaBody.innerHTML = ""; // Borrar filas anteriores

            const articulosPaginaActual = articulosFiltrados.slice(
                (paginaActualArt - 1) * articulosPorPagina,
                paginaActualArt * articulosPorPagina
            );

            for (let i = 0; i < articulosPaginaActual.length; i += columnasPorFila) {
                const fila = document.createElement("tr");
                for (let j = i; j < i + columnasPorFila && j < articulosPaginaActual.length; j++) {
                    const articulo = articulosPaginaActual[j];
                    const celda = document.createElement("td");
                    const botonArticulo = document.createElement("button");
                    botonArticulo.innerHTML = `<strong>${articulo.Text}</strong> (${articulo.Value})</strong><br>$${articulo.Precio}`;
                    botonArticulo.dataset.id = articulo.Value;
                    celda.appendChild(botonArticulo);
                    fila.appendChild(celda);
                }
                tablaBody.appendChild(fila);
            }

            // Mostrar/ocultar botones de navegación
            const botonAnterior = document.querySelector(".anterior");
            const botonSiguiente = document.querySelector(".siguiente");

            botonAnterior.disabled = paginaActualArt === 1;
            botonSiguiente.disabled = articulosPaginaActual.length < articulosPorPagina;

            // Agregar event listeners a los botones de artículos
            agregarEventListenersBotonesArticulos();
        }

        // Eventos para los botones de navegación
        document.querySelector(".anterior").addEventListener("click", () => {
            paginaActualArt--;
            filtrarArticulosPorRubro(idRubroActual);
        });

        document.querySelector(".siguiente").addEventListener("click", () => {
            paginaActualArt++;
            filtrarArticulosPorRubro(idRubroActual);
        });

        //////////////////////////////////// Lógica para agregar descuentos ////////////////////////////////////

        const descuentos = @Html.Raw(ViewData["JsonListaDescuentos"]);
        const descuentosPorPagina = 18;
        const columnasPorFilaDescProm = 6;
        let paginaActualDescProm = 1;

        const tablaBodyDescuentos = document.getElementById('tabla-body-descuentos');
        tablaBodyDescuentos.innerHTML = "";

        const descuentosPagActual = descuentos.slice(
            (paginaActualDescProm - 1) * descuentosPorPagina,
            paginaActualDescProm * descuentosPorPagina
        );

        function agregarBotonesDescuentos() {

            const tablaBodyDescuentos = document.getElementById('tabla-body-descuentos');
            tablaBodyDescuentos.innerHTML = "";

            const descuentosPagActual = descuentos.slice(
                (paginaActualDescProm - 1) * descuentosPorPagina,
                paginaActualDescProm * descuentosPorPagina
            );

            for (let i = 0; i < descuentosPagActual.length; i += columnasPorFilaDescProm) {

                const fila = document.createElement("tr")

                for (let j = i; j < i + columnasPorFilaDescProm && j < descuentosPagActual.length; j++) {

                    const descuento = descuentosPagActual[j];
                    const celda = document.createElement("td");
                    const botonDescuento = document.createElement("button");

                    botonDescuento.innerHTML = `<strong>${descuento.Text}</strong>`;
                    botonDescuento.dataset.id = descuento.Value;

                    celda.appendChild(botonDescuento);
                    fila.appendChild(celda);
                }
                tablaBodyDescuentos.appendChild(fila);
            }
        }

        agregarBotonesDescuentos();

        //////////////////////////////////// Lógica para agregar promociones ////////////////////////////////////

        const promociones = @Html.Raw(ViewData["JsonListaPromociones"]);
        
        const promocionesAgrupadas = @Html.Raw(ViewData["JsonListaPromocionesAgrupadas"]);
        const tablaBodyPromociones = document.getElementById('tabla-body-promociones');
        tablaBodyPromociones.innerHTML = "";

        const promocionesPagActual = promocionesAgrupadas.slice(
            (paginaActualDescProm - 1) * descuentosPorPagina,
            paginaActualDescProm * descuentosPorPagina
        );

        function agregarBotonesPromociones() {

            const tablaBodyPromociones = document.getElementById('tabla-body-promociones');
            tablaBodyPromociones.innerHTML = "";

            const promocionesPagActual = promocionesAgrupadas.slice(
                (paginaActualDescProm - 1) * descuentosPorPagina,
                paginaActualDescProm * descuentosPorPagina
            );

            for (let i = 0; i < promocionesPagActual.length; i += columnasPorFilaDescProm) {

                const fila = document.createElement("tr")

                for (let j = i; j < i + columnasPorFilaDescProm && j < promocionesPagActual.length; j++) {

                    const promocion = promocionesPagActual[j];
                    const celda = document.createElement("td");
                    const botonPromo = document.createElement("button");

                    botonPromo.innerHTML = `<strong>${promocion.Nombre}</strong>`;
                    botonPromo.dataset.id = promocion.Value;

                    celda.appendChild(botonPromo);
                    fila.appendChild(celda);
                }
                tablaBodyPromociones.appendChild(fila);
            }
        }

        agregarBotonesPromociones();

        //////////////////////////////////// Lógica para agregar EventListeners a los botones de Promos y Descuentos ////////////////////////////////////

        function cerrarModalDescuentos() {
            $('#mensaje-descuento').removeClass().text("");
        }

        function agregarEventListenersBotonesDescuentos() {
            tablaBodyDescuentos.querySelectorAll("button").forEach(boton => {
                boton.addEventListener("click", function () {

                    if (document.getElementById("descuento").value != 0 || document.getElementById("id-descuento-input").value != "") {
                        $('#mensaje-descuento').removeClass().addClass('text-danger').text("Ya se ha aplicado un descuento.");
                        return;
                    }

                    // Obtener el ID del descuento
                    const idDescuento = this.dataset.id;

                    // Buscar el descuento por el id obtenido
                    const descuento = descuentos.find(descuento => descuento.Value === idDescuento);

                    // Traigo el subtotal
                    const subTotal = parseFloat(document.getElementById("subtotal").value);

                    // Calculo el descuento
                    let descuentoAplicado = (subTotal * descuento.Porcentaje) / 100;

                    if (descuentoAplicado != 0 && descuentoAplicado == subTotal) {
                        descuentoAplicado = descuentoAplicado - 0.01;
                    }

                    // Agregar el descuento al detalle de la venta
                    document.getElementById("descuento").value = descuentoAplicado.toFixed(2);

                    document.getElementById("id-descuento-input").value = idDescuento;

                    // Llamar a las funciones para recalcular subtotal y total
                    calcularTotal();

                    // Cerrar el modal
                    $('#descuentos-Modal').modal('hide');

                    calcularVuelto();
                });
            });
        }

        agregarEventListenersBotonesDescuentos();

        // Al hacer click sobre una promoción
        function agregarEventListenersBotonesPromociones() {
            tablaBodyPromociones.querySelectorAll("button").forEach(boton => {
                boton.addEventListener("click", function () {

                    const idPromocion = this.dataset.id; // Variable con el id de la promoción seleccionada

                    const promocion = promociones.find(promocion => promocion.Value === idPromocion); // Traigo una promoción filtrando por id

                    agregarPromocionAlResumen(promocion); // Llamo a la función para agregar el id y le paso por parametro la promoción

                    calcularVuelto();
                });
            });
        }

        agregarEventListenersBotonesPromociones();

        //////////////////////////////////// Lógica para agregar artículo al resumen de la venta ////////////////////////////////////

        // Función para agregar event listeners a los botones de artículos
        function agregarEventListenersBotonesArticulos() {
            tablaBody.querySelectorAll("button").forEach(boton => {
                boton.addEventListener("click", function () {
                    // Obtener el ID del artículo
                    const Id_Articulo = this.dataset.id;
                    // Buscar el artículo en la lista de artículos
                    const articuloLista = articulos.find(articulo => articulo.Value === Id_Articulo);
                    // Llamar a la función para agregar el artículo al resumen de la venta

                    if (!articuloLista.UsaCombo) {
                        agregarArticuloAlResumen(articuloLista);
                    } 
                    else {
                        abrirModal(articuloLista)
                    }
                });
            });
        }

        function abrirModal(articuloLista) {
            $('#tipoArt-Modal').modal('show');

            $('#btn-tipo-solo').off('click').on('click', function () {
                elegirTipoArticulo('solo', articuloLista)
            });

            $('#btn-tipo-combo').off('click').on('click', function () {
                elegirTipoArticulo('combo', articuloLista)
            });
        }

        function elegirTipoArticulo(tipo,articuloLista) {

            if (tipo === 'solo') {
                agregarArticuloAlResumen(articuloLista);
            }
            else if (tipo === 'combo'){
                agregarComboAlResumen(articuloLista);
            }

            $('#tipoArt-Modal').modal('hide');

        }

        function agregarArticuloAlResumen(articulo) {
            
            // Desestructurar el objeto articulo
            const {
                Value: Id_Articulo,
                Text: Nombre,
                Precio: Precio } = articulo;

            // Verifico que el artículo no exista en el resumen de la venta
            const articuloExistente = document.querySelector(`#table-resumen-venta tr[data-id="${Id_Articulo}"]`);

            if (articuloExistente) {
                // Si el artículo ya existe en el resumen de la venta, aumentar la cantidad
                const cantidad = articuloExistente.querySelector(".cantidad");
                cantidad.textContent = Number(cantidad.textContent) + 1;
                // Actualizar el precio total
                const precioTotal = articuloExistente.querySelector(".precio-total");
                precioTotal.textContent = (Number(precioTotal.textContent) + Precio).toFixed(2);
            } 
            else {
                // Si no se encuentra ninguna fila vacía, agregar una nueva fila al final
                const fila = document.createElement("tr");
                fila.dataset.id = Id_Articulo;
                fila.innerHTML = `
                  <td asp-for="Id_Articulo" id="id_Articulo">${Id_Articulo}</td>
                  <td asp-for="Descripcion" id="nombre">${Nombre}</td>
                  <td asp-for="PrecioUnitario" id="precio">${Precio}</td>
                  <td asp-for="Cantidad" id="cantidad" class="cantidad">1</td>
                  <td asp-for="PrecioTotal" id="precio-Total" class="precio-total">${Precio}</td>
                  <td id="Accion" class='btn btn-danger btn-sm'><button class="eliminar">X</button></td>
                `;
                document.querySelector("#table-resumen-venta tbody").appendChild(fila);
            }

            const idDescuento = document.getElementById("id-descuento-input").value;

            calcularSubTotal();

            if(idDescuento != 0){
                recalcularDescuento(idDescuento);
            }

            calcularTotal();
            
            actualizarEventListenersEliminarArticuloCalcularTotal();

            calcularTotalFormaPago();

            calcularVuelto();
        }

        function agregarComboAlResumen(articulo){
            
            var articulosCombos = [];

            for (var artsConCombos = 0; artsConCombos < articulosConCombos.length; artsConCombos++) {

                if (articulosConCombos[artsConCombos].Value === articulo.Value) {

                    if (articulosConCombos[artsConCombos].ValueAgregado === articulo.Value) {

                        var combo = {
                            ComboId: articulosConCombos[artsConCombos].ComboId,
                            Value: articulosConCombos[artsConCombos].Value,
                            Text: articulosConCombos[artsConCombos].Text,
                            Precio: articulosConCombos[artsConCombos].Precio,
                        };
                        articulosCombos.push(combo);
                    }else{
                        var combo = {
                            ComboId: articulosConCombos[artsConCombos].ComboId,
                            Value: articulosConCombos[artsConCombos].ValueAgregado,
                            Text: "---> " + articulosConCombos[artsConCombos].TextAgregado,
                            Precio: articulosConCombos[artsConCombos].PrecioAgregado,
                        };
                        articulosCombos.push(combo);
                    }
                }
            }

            moverAlFinal(articulosCombos);

            for (var combo in articulosCombos) {

                const comboExistente = document.querySelector(`#table-resumen-venta tr[data-id="${articulosCombos[combo].ComboId}"]`);
                if (comboExistente){

                    var cantidad = comboExistente.querySelector(".cantidad");
                    cantidad.textContent = Number(cantidad.textContent) + 1;
                    var precioTotal = comboExistente.querySelector(".precio-total");
                    precioTotal.textContent = (Number(precioTotal.textContent) + articulosCombos[combo].Precio).toFixed(2);
                }
                else{

                    const fila = document.createElement("tr");
                    fila.dataset.id = articulosCombos[combo].ComboId;
                    fila.innerHTML = `
                            <td asp-for="id_Combo" id="id_Combo" hidden>${articulosCombos[combo].ComboId}</td>
                            <td asp-for="Id_Articulo" id="id_Articulo">${articulosCombos[combo].Value}</td>
                            <td asp-for="Descripcion" id="nombre">${articulosCombos[combo].Text}</td>
                            <td asp-for="PrecioUnitario" id="precio">${articulosCombos[combo].Precio}</td>
                            <td asp-for="Cantidad" id="cantidad" class="cantidad">1</td>
                            <td asp-for="PrecioTotal" id="precio-Total" class="precio-total">${articulosCombos[combo].Precio}</td>
                            <td id="Accion" class='btn btn-danger btn-sm'><button class="eliminar">X</button></td>
                                    <td id="EsCombo" hidden>1</td>
                        `;
                    document.querySelector("#table-resumen-venta tbody").appendChild(fila);
                }
            }
            const idDescuento = document.getElementById("id-descuento-input").value;

            calcularSubTotal();

            if(idDescuento != 0){
                recalcularDescuento(idDescuento);
            }

            calcularTotal();

            actualizarEventListenersEliminarArticuloCalcularTotal();

            calcularVuelto();
        }

        //////////////////////////////////// Lógica para agregar promoción al resumen de la venta ////////////////////////////////////

        function agregarPromocionAlResumen(promocion){

            // Declaro una lista:
            var artPromos = [];

            // Recorro la lista de promociones
            for (var promoIndice = 0; promoIndice < promociones.length; promoIndice++) {
                // Recorro toda la lista completa de promociones declarada anteriormente y traída del back. 
                // Hago un equals para traer solo los artículos de los cuales el ID coincida con el de la promoción seleccionada.
                // Si el id de la promoción es igual al id de la promoción seleccionada
                if (promociones[promoIndice].Value === promocion.Value) {

                    // Creo un objeto con los datos de la promoción
                    var promoD = {
                        Value: promociones[promoIndice].Value, // ID de la promoción
                        Porcentaje: promociones[promoIndice].Porcentaje, // Porcentaje de descuento
                        ValuePromoD: promociones[promoIndice].ValuePromoD, // Id del artículo
                        TextPromoD: promociones[promoIndice].TextPromoD + " - " + promociones[promoIndice].Porcentaje + "%", // Nombre del Artículo + Porcentaje de descuento
                        PrecioArticulo: promociones[promoIndice].PrecioArticulo // Precio del artículo con el descuento aplicado
                    };
                    artPromos.push(promoD);
                }
            }

            // En este paso se empiza con la inserción de los datos en el resumen de la venta:
            for (var promo in artPromos) {
                
                const idArtExistente = document.querySelector(`#table-resumen-venta tr[data-id="${artPromos[promo].Value}"]`);
                const fila = document.createElement("tr");
                fila.dataset.id = artPromos[promo].Value;

                fila.innerHTML = `
                    <td asp-for="Id_Promo" id="Id_Promo" hidden>${artPromos[promo].Value}</td>
                    <td asp-for="Id_Articulo" id="id_Articulo">${artPromos[promo].ValuePromoD}</td>
                    <td asp-for="Descripcion" id="nombre">${artPromos[promo].TextPromoD}</td>
                    <td asp-for="PrecioUnitario" id="precio">${artPromos[promo].PrecioArticulo}</td>
                    <td asp-for="Cantidad" id="cantidad" class="cantidad">1</td>
                    <td asp-for="PrecioTotal" id="precio-Total" class="precio-total">${artPromos[promo].PrecioArticulo}</td>
                    <td id="Accion" class='btn btn-danger btn-sm'><button class="eliminar">X</button></td>
                    <td id="AplicaPromo" hidden>1</td>
                    `;
                document.querySelector("#table-resumen-venta tbody").appendChild(fila);
            }
            $('#promos-Modal').modal('hide');

            const idDescuento = document.getElementById("id-descuento-input").value;

            calcularSubTotal();

            if(idDescuento != 0){
                recalcularDescuento(idDescuento);
            }

            calcularTotal();

            actualizarEventListenersEliminarArticuloCalcularTotal();

            calcularVuelto();
        }

        //////////////////////////////////// Lógica para funciones de SubTotal y Total ////////////////////////////////////

        function calcularSubTotal() {
            let subTotal = 0;
            const preciosTotales = document.querySelectorAll("#table-resumen-venta .precio-total");
            for (const precioTotal of preciosTotales) {
                subTotal += parseFloat(precioTotal.textContent);
            }
            document.getElementById("subtotal").value = subTotal.toFixed(2);
        }

        function recalcularDescuento(idDescuento){

            const descuento = descuentos.find(descuento => descuento.Value === idDescuento);

            const subTotal = parseFloat(document.getElementById("subtotal").value);

            let descuentoAplicado = (subTotal * descuento.Porcentaje) / 100;

            if(descuentoAplicado != 0 && descuentoAplicado == subTotal){
                descuentoAplicado = descuentoAplicado - 0.01;
            }

            document.getElementById("descuento").value = descuentoAplicado.toFixed(2);
        }

        function calcularTotal() {
            const subTotal = parseFloat(document.getElementById("subtotal").value);
            const descuento = parseFloat(document.getElementById("descuento").value);
            
            if(subTotal == 0){
                document.getElementById("total").value = 0;
                return;
            }

            const total = subTotal - descuento;

            document.getElementById("total").value = total.toFixed(2);
        }

        function actualizarEventListenersEliminarArticuloCalcularTotal() {
            document.querySelectorAll(".eliminar").forEach(boton => {
                boton.addEventListener("click", function () {
                    const fila = this.closest("tr");
                    const id_Articulo = fila.dataset.id;
                    const id_Descuento = document.getElementById("id-descuento-input").value;

                    const cantidad = fila.querySelector(".cantidad");
                    let cantidadActual = Number(cantidad.textContent);

                    // if (cantidadActual > 1) {
                    //     console.log(cantidadActual)
                    //     cantidad.textContent = cantidadActual - 1;
                    //     return;
                    // } else {
                        console.log(cantidadActual)
                        fila.remove();
                    // }

                    calcularSubTotal();

                    if(id_Descuento != 0){
                        recalcularDescuento(id_Descuento);
                    }

                    calcularTotal();

                    calcularVuelto();
                });
            });
        }

        <!-- DataTables -->
            $(document).ready(function () {
                // Inicializar la tabla con DataTables
                $('#table-resumen-venta').DataTable({
                    "paging": false,          // Desactivar paginación
                    "scrollY": "322px",       // Altura fija con barra de desplazamiento si es necesario
                    "scrollCollapse": true,   // Colapsar la tabla si la altura es menor que el contenido
                    "searching": false,        // Habilitar la función de búsqueda
                    "ordering": false,         // Deshabilitar la ordenación
                    "info": false,            // Deshabilitar la información de la tabla

                });
            });

        //////////////////////////////////// Lógica para cancelar la venta ////////////////////////////////////
        function varciarTablaResumen() {

            // Limpiar cupones ingresados
            cuponesIngresados.splice(0, cuponesIngresados.length);

            // Limpiar la tabla de resumen de venta
            const tablaResumen = document.getElementById("table-resumen-venta").querySelector("tbody");
            tablaResumen.querySelectorAll("tr").forEach(function (fila, index) {
                if (index !== 0) {
                    fila.remove();
                }
            });

            // Limpiar los campos de descuento, subtotal y total
            document.getElementById("descuento").value = 0;
            document.getElementById("id-descuento-input").value = "";
            $('#mensaje-descuento').removeClass().text("");
            $('#nombre-retira').val("");

            formasPagoEnCero();
            
            // Llamar a las funciones para recalcular subtotal y total
            calcularSubTotal();
            calcularTotal();
        }

        // Evento para el botón de cancelar venta
        document.getElementById("btn-cancel-venta").addEventListener("click", function () {
            varciarTablaResumen();
            // Mensajes varios:
            $('#mensaje-ventas').removeClass().text("");
            $('#mensaje-email-factura').removeClass().text("");
            tablaBody.innerHTML = "";
        });

        //////////////////////////////////// Lógica para realizar la venta ////////////////////////////////////
        async function CrearVenta() {
            
            $('#retira-Modal').modal('show');

            await new Promise((resolve, reject) => {
                $('#btn-aceptar-retira').click(() => {
                    resolve();
                })
            })

            var montoTotalVenta = parseFloat($('#total').val());
            montoTotalVenta = montoTotalVenta.toFixed(2);
            var formaSeleccionada = $('#forma').find("option:selected").text();

            // Obtener las formas de pago seleccionadas
            var formaPagoSelects = [];
            $('input[name="FormasPagoSeleccionados"]:checked').each(function () {
                var id = $(this).val();
                var monto = parseFloat($('#' + id + '-monto-formaPago').val());
                formaPagoSelects.push({ Id: id, Monto: monto});
            });

            var codTarjeta = "";
            console.log($('#forma option:selected').text());
            console.log($('#Tarjeta-checkbox').prop('checked'));
            if ($('#forma option:selected').text() == "Varias" && $('#Tarjeta-checkbox').prop('checked')) {
                console.log("ENTRE VARIOS");
                codTarjeta = $('#listaTarjetas-modal').val();
            } else if ($('#forma option:selected').text() == "Tarjeta") {
                console.log("ENTRE TARJETA");
                codTarjeta = $('#listaTarjetas').val();
            }

            // Crear un objeto con los datos de la venta (Ventas_E)
            var vMVentas = {
                CodComprobante: $("#comprobante-select").val(),
                CodCliente: $("#cliente-select").val(),
                Id_FormaPago: $("#forma").val(),
                CodTarjeta: codTarjeta,
                CodModulo: $("#modulo-select").val(),
                Pago: $('#efectivo-monto').val(),
                Vuelto: parseFloat($('#efectivo-monto-resto').val()).toFixed(2),
                Retira: $('#nombre-retira').val()
            };

            console.log(vMVentas);

            var detallesventa = [];

            // Obtener los detalles de la venta (Ventas_D)
            $('#table-resumen-venta tbody tr').each(function () {
                var detalle = {
                    Id_Articulo: $(this).find("#id_Articulo").text(),
                    Detalle : $(this).find("#nombre").text(),
                    Cantidad: $(this).find("#cantidad").text(),
                    PrecioUnitario: $(this).find("#precio").text(),
                    PrecioTotal: $(this).find("#precio-Total").text(),
                    Id_Promo: $(this).find("#Id_Promo").text(),
                    AplicaPromo: $(this).find("#AplicaPromo").text(),
                    Id_Combo: $(this).find("#id_Combo").text(),
                    EsCombo: $(this).find("#EsCombo").text(),
                    EsCupon: $(this).find("#EsCupon").text(),
                    PorcentajeDescuentoCupon: $(this).find("#PorcentajeDescuentoCupon").text(),
                    NroCupon: $(this).find("#NroCupon").text()
                };
                detallesventa.push(detalle);
            });

            // Validar si la posición [1] de detallesventa es null
            if (detallesventa[1] == null) {
                alert("Debe seleccionar al menos un artículo para realizar la venta.");
                return;
            }

            if (formaSeleccionada == "Efectivo") {
                var montoResto = parseFloat($('#efectivo-monto').val());

                if (montoResto < montoTotalVenta) {
                    return alert("¡Completar el monto de cobro!");
                }
            }

            if (formaSeleccionada == "Varias") {
                var totalFormaPago = parseFloat($('#total-formaPago').val());
                totalFormaPago = totalFormaPago.toFixed(2);
                console.log(totalFormaPago + " --- Y --- " + montoTotalVenta);

                if (totalFormaPago !== montoTotalVenta) {
                    console.log(totalFormaPago);
                    return alert("¡Completar el monto de los medios de pago!");
                }
            }

            // Obtener el importe de la venta
            var vMVentaImporte = {
                Descuento: $("#id-descuento-input").val(),
                Importe: $("#total").val()
            };

            // Realizar la petición AJAX
            $.ajax({
                url: '@Url.Action("CrearVenta", "Ventas")',
                type: 'POST',
                data: { vMVentas, detallesventa, vMVentaImporte, formaPagoSelects },
                success: function (response) {
                    if (response.success == true) {

                        $('#mensaje-ventas').removeClass().addClass('text-success').text("Venta realizada correctamente.");
                        
                        console.log("Datos: " + vMVentas + " " + detallesventa + " " + response.message + " " + response.messageGenerarReporte);

                        switch (true) {
                            case response.messageGenerarReporte.includes("correctamente"):
                                $('#mensaje-email-factura').removeClass().addClass('text-success').text("La factura fue envíada correctamente.");
                                break;
                            case response.messageGenerarReporte.includes("Error"):
                                $('#mensaje-email-factura').removeClass().addClass('text-danger').text("Error al enviar el email con la factura.");
                                break;
                            default:
                                console.log("nada por aquí");
                        }
                        varciarTablaResumen();
                    }
                    else {

                        $('#mensaje-ventas').removeClass().addClass('text-danger').text("Error al realizar la venta, volver a intentar.");

                        console.log("Error al realizar la venta. Error: ", response.message);
                        
                        switch(true){
                            case response.message.includes("QuemarCupon"):
                                alert("Error al realizar la venta, no es posible usar el cupón.");
                                break;
                            case response.messageGenerarReporte:
                                alert("Error al realizar la venta.", response.messageGenerarReporte);
                                break;
                            default:
                                alert("Error al realizar la venta, volver a intentar.");
                        }
                    }
                },
                error: function (response) {
                }
            });
        }

        // Si la forma de pago es Tarjeta, muestra las tarjetas disponibles.
        $(document).ready(function () {
            $('#listaTarjetas').hide();
            $('#forma').change(function () {
                var formaSeleccionada = $(this).find("option:selected").text();

                if (formaSeleccionada == "Tarjeta") {
                    $('#listaTarjetas').show();
                } else {
                    $('#listaTarjetas').hide();
                }
            });
        });

        // Si la forma de pago es "Varias", se agrega botón para seleccionar las formas de pago.
        $(document).ready(function () {
            $('#btn-formaspago-modal').hide();
            $('#forma').change(function () {
                var formaSeleccionada = $(this).find("option:selected").text();

                if (formaSeleccionada == "Varias") {
                    $('#btn-formaspago-modal').show();
                } else {
                    $('#btn-formaspago-modal').hide();
                }

                var restoAux = parseFloat($('#total').val());
                var resto = restoAux.toFixed(2);
                $('#resto-formaPago').val(resto);
            });
        });

        // Si la forma de pago es "Efectivo", se agrega formulario para indicar con cuanto se paga y el vuelto.
        $(document).ready(function () {
            $('#forma').change(function (){
                var formaSeleccionada = $(this).find("option:selected").text();
                var inp
                if (formaSeleccionada == "Efectivo") {
                    $('.div-efectivo-monto').show();
                } else {
                    $('.div-efectivo-monto').hide();
                    $('#efectivo-monto').val('0');
                    $('#efectivo-monto-resto').val('0');
                }
            })
        });

        $('#efectivo-monto').on('input',function () {
            calcularVuelto();
        });

        function calcularVuelto(){
            var pagaCon = parseFloat($('#efectivo-monto').val());
            var totalVenta = parseFloat($('#total').val());
            var vuelto = pagaCon - totalVenta;
            vuelto = Math.max(0, vuelto).toFixed(2);
            $('#efectivo-monto-resto').val(vuelto);
        }

        $(document).ready(function () {
            // Agregar evento change a los checkboxes
            $('.input-checkbox-formasPago').change(function () {
                // Obtener el checkbox y el campo de texto de la misma fila
                var checkbox = $(this);
                var inputText = checkbox.closest('tr').find('.input-text-formasPago');

                var checkboxTarjeta = $('#Tarjeta-checkbox');
                var listTarjetas = $('#listaTarjetas-modal');
                var listTarjetasLabel = $('#listaTarjetas-modal-label');

                // Habilitar o deshabilitar el campo de texto según el estado del checkbox
                inputText.prop('disabled', !checkbox.prop('checked'));

                // Habilitar o deshabilitar el campo de lista de tarjetas según el estado del checkbox de Tarjeta
                listTarjetas.prop('disabled', !checkboxTarjeta.prop('checked'));
                listTarjetas.prop('hidden', !checkboxTarjeta.prop('checked'));
                listTarjetasLabel.prop('hidden', !checkboxTarjeta.prop('checked'));

                if(!checkbox.prop('checked')){
                    inputText.val('0');
                }

                calcularTotalFormaPago();
            });
        });

        function formasPagoEnCero(){
            
            // Obtener el checkbox y el campo de texto de la misma fila
            var checkbox = $('.input-checkbox-formasPago');
            var inputText = checkbox.closest('tr').find('.input-text-formasPago');

            checkbox.prop('checked', false);
            inputText.prop('disabled', true);
            inputText.val('0');

            $('#efectivo-monto').val('0');
            $('#efectivo-monto-resto').val('0');
            $('#resto-formaPago').val('0');
            $('#total-formaPago').val('0');

            calcularTotalFormaPago();
        }

        $('.input-text-formasPago').on('input', function () {
            calcularTotalFormaPago();
        });

        function calcularTotalFormaPago(){
            var total = 0;

            $('.input-text-formasPago').each(function (){
                total += parseFloat($(this).val()) || 0;
            });

            // Actualizar el campo "total-formaPago" con el total calculado
            $('#total-formaPago').val(total);

            // Calcular el resto
            var totalVenta = parseFloat($('#total').val());
            var resto = totalVenta - total;
            resto = Math.max(0, resto);
            //Actualiza el campo "resto-formaPago" con el resto calculado
            resto = resto.toFixed(2);
            $('#resto-formaPago').val(resto);
        }

    </script>

    <!-- //////////////////////////////////// Script para el manejo de la creación de un nuevo cliente //////////////////////////////////// -->
    <script>
        // Función para agregar un nuevo cliente
        function crearCliente() {
            var formData = $("#formCliente").serialize();

            $.ajax({
                url: '@Url.Action("CrearCliente", "Ventas")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success == true) {
                        var selectClientes = $('#cliente-select');

                        // Actualizar la lista de clientes
                        var nuevoClienteOption = $('<option>', {
                            value: response.cliente.codCliente,
                            text: response.cliente.nombre
                        });

                        // Agregar la nueva opción al select de clientes
                        selectClientes.append(nuevoClienteOption);

                        // Seleccionar el nuevo cliente en el select
                        selectClientes.val(response.cliente.codCliente);

                        // Cerrar el modal
                        $('#nuevoClienteModal').modal('hide');

                        // Limpiar los campos del formulario
                        $('#formCliente')[0].reset();
                    }
                    else {
                        console.log("No se llamó al cierre del modal ");
                    }
                },
                error: function (response) {
                }
            })
        }

        function moverAlFinal(array) {

            for (let i = 0; i < array.length; i++) {
                while (array[0].Text.startsWith('--->')) {

                    const elementoAMover = array.splice(i, 1)[0];

                    let j = array.length - 1;
                    while (j >= 0 && array[j].Text.startsWith('--->')) {
                        j--;
                    }

                    array.splice(j + 1, 0, elementoAMover);

                    break;
                }
            }
        }
    </script>

<!-- //////////////////////////////////// Script para el manejo de la configuración de la sucursal //////////////////////////////////// -->
    <script>
        // Función para obtener la sucursal
        function obtenerRegistrosConfig() {
            var codigos = ["Sucursal_Config", "NumCaja_Config"];
            codigos.forEach(function(codigo){
                $.ajax({
                    url: '@Url.Action("EditConfig", "Configs")',
                    type: 'GET',
                    data: { codigo_Config: codigo },
                    success: function (response) {
                        if (response.success == true) {

                            var codigoConfigInput = $('#' + codigo + '-codigo-config-input');
                            var descripcionConfigInput = $('#' + codigo + '-descripcion-config-input');
                            var valorConfigInput = $('#' + codigo + '-valor-config-input');

                            // Abrir el modal
                            $('#config-Modal').modal('show');

                            // Llenar los campos del formulario
                            codigoConfigInput.val(response.codigo_Config);
                            descripcionConfigInput.val(response.descripcion_Config);
                            valorConfigInput.val(response.valor_Config);

                            console.log("Valor del registro: " + response.valor_Config);
                        }
                        else {
                            console.log("Error al obtener el valor del registro.");
                        }
                    },
                    error: function (response) {
                    }
                })
            })
        }

        // Función para configurar la sucursal
        function configurarRegistroConfig(element) {
            var codigo = $(element).data('codigo'); // Obtener el código del registro
            var formData = $("#" + codigo + "-formConfig").serialize()

            $.ajax({
                url: '@Url.Action("EditConfig", "Configs")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    if (response.success == true) {
                        console.log("Success: " + response.message);
                        $('#mensaje-confg').removeClass().addClass('text-success').text(response.message);
                    }
                    else {
                        console.log("Error: " + response.message);
                        $('#mensaje-confg').removeClass().addClass('text-danger').text("Error: " + response.message);
                    }
                },
                error: function (response) {
                }
            })
        }

        // Función para cerrar el modal de configuración de la sucursal
        function cerrarModalConfig() {
            $('#config-Modal').modal('hide');
            $('#mensaje-confg').text("");
        }

    </script>

    <!-- //////////////////////////////////// Script para el manejo de los cupones //////////////////////////////////// -->

    <script>

        // Evento para los botones del modal de Cupones

        // Le asigno a una variable el elemento del id #cupones-Modal-content
        const cuponesModalContent = document.getElementById('cupones-Modal-content');

        var cuponesIngresados = [];

        // Recorro los botones de dicho elemento
        cuponesModalContent.querySelectorAll("button").forEach(boton => {
            boton.addEventListener("click", function () {

                // Si el botón presionado es Aceptar:
                if (boton.id === 'boton-enviar-solicitud') {

                    var input1 = $('#cuponInput1').val();
                    var input2 = $('#cuponInput2').val();
                    var input3 = $('#cuponInput3').val();

                    // Si los input de cupones no cumplen el formato ###-###-###
                    if (((input1.length !== 3 || input2.length !== 3 || input3.length !== 3) ||
                        (input1.trim() === '' || input2.trim() === '' || input3.trim() === ''))) {

                        // Muestra el mensaje:
                        $('#mensaje-cupones').removeClass().
                            addClass('text-danger').text("Los tres campos deben tener 3 dígitos y no estar vacíos.");

                        return;
                    }


                    for (var cuponIngresado in cuponesIngresados) {

                        if (input1.trim() + "-" + input2.trim() + "-" + input3.trim() === cuponesIngresados[cuponIngresado]) {

                            $('#mensaje-cupones').removeClass().
                                addClass('text-danger').text("El cupón ya fue ingresado.");

                            return;
                        }
                    }

                    const nroCupon = input1.trim() + "-" + input2.trim() + "-" + input3.trim();

                    var vMCupon = [];

                    $.ajax({
                        url: '@Url.Action("ValidarCupon", "Ventas")',
                        type: 'POST',
                        data: { nroCupon },
                        success: function (response) {
                            
                            if (response.success) {
                                // Se llama a función para agregar los artículos del cupon en el resumen de venta.
                                agregarCuponAlResumen(response.articulosCupon);
                                // Se agrega el número de cupon en la lista de cupones ingresados.
                                cuponesIngresados.push(nroCupon);
                            }
                            else if (!response.success) {
                                console.log(response.message);
                                $('#mensaje-cupones').removeClass().
                                    addClass('text-danger').text(response.message);
                            }
                        },
                        error: function (response) {
                            $('#mensaje-cupones').text("");
                            console.log("No se logró la comunicación con el servidor");
                            $('#mensaje-cupones').removeClass().
                                addClass('text-danger').text("Error, no se logró la comunicación con el servidor.");
                        }
                    });

                }
                // Si el botón presionado es Cancelar:
                else if (boton.id === 'boton-cancelar-cupon') {

                }
            });
        });

        function agregarCuponAlResumen(articulosCupon) {
            for (var art in articulosCupon) {

                const idArtExistente = document.querySelector(`#table-resumen-venta tr[data-id="${articulosCupon[art].id_Articulo}"]`);
                const fila = document.createElement("tr");
                fila.dataset.id = articulosCupon[art].nroCupon;

                fila.innerHTML = `
                            <td id="NroCupon" hidden>${articulosCupon[art].nroCupon}</td>
                            <td asp-for="Id_Articulo" id="id_Articulo">${articulosCupon[art].id_Articulo}</td>
                            <td asp-for="Descripcion" id="nombre">${articulosCupon[art].nombreArt}</td>
                            <td asp-for="PrecioUnitario" id="precio">${articulosCupon[art].precio}</td>
                            <td asp-for="Cantidad" id="cantidad" class="cantidad">${articulosCupon[art].cantidad}</td>
                            <td asp-for="PrecioTotal" id="precio-Total" class="precio-total">${articulosCupon[art].total}</td>
                            <td id="Accion" class='btn btn-danger btn-sm'><button class="eliminar">X</button></td>
                            <td id="EsCupon" hidden>1</td>
                            <td id="PorcentajeDescuentoCupon" hidden>${articulosCupon[art].porcentajeDescuentoCupon}</td>
                        `;
                document.querySelector("#table-resumen-venta tbody").appendChild(fila);
            }
            $('#cupones-Modal').modal('hide');

            const idDescuento = document.getElementById("id-descuento-input").value;

            calcularSubTotal();

            if (idDescuento != 0) {
                recalcularDescuento(idDescuento);
            }

            calcularTotal();

            actualizarEventListenersEliminarArticuloCalcularTotal();

            calcularVuelto();

            cerrarModalCupones();
        }

        function cerrarModalCupones() {
            // Cerrar Modal:
            $('#cupones-Modal').modal('hide');
            // Limpiar mensaje:
            $('#mensaje-cupones').text("");
            // Limpiar valores:
            $('#cuponInput1').val("");
            $('#cuponInput2').val("");
            $('#cuponInput3').val("");
        }

        // Función para tabear automaticamente
        function moverFoco(input, nextFieldID) {
            if (input.value.length >= 3) {
                document.getElementById(nextFieldID).focus();
            }
        }

    </script>
}