@model MVCVentas.Models.VMComprobante_N

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar Comprobante</h1>

<h3>¿Quiere eliminar la numeración correspondiente al comprobante?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumComprobante)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comprobante_E)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comprobante_E.CodComprobante)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Modulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Modulo.CodModulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sucursal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sucursal.NumSucursal)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CodComprobante" />
        <input type="hidden" asp-for="CodModulo" />
        <input type="hidden" asp-for="NumSucursal" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-action="Index">Volver</a>
    </form>
</div>