@model IEnumerable<MVCVentas.Models.VMVentas_E>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout_Ventas_Report.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reporte de Ventas</title>
</head>
<body>
    <div class="card shadow mb-4 custom-card">
        <div class="card-header py-3 d-flex justify-content-between align-items-center">
            <h6 class="m-0 font-weight-bold text-primary">Reporte de Ventas</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive" id="table-resposibe-index-Ventas_E">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr id="tr-encabezado-reporte-venta">
                            <th>
                                Pto Venta
                            </th>
                            <th>
                                Número Comprobante
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Fecha)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Hora)
                            </th>
                            <th>
                                Caja
                            </th>
                            <th>
                                Tipo
                            </th>
                            <th>
                                Forma de Pago
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Cliente)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Usuario)
                            </th>
                            <th>
                                Total
                            </th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Sucursal.NumSucursal)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumVenta)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Fecha)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Hora)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NumCaja)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Comprobante.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FormaPago.Nombre)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cliente.RazonSocial)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Usuario.Usuario)
                                </td>
                                @{
                                    var total = item.Ventas_I.Where(vi => vi.CodConcepto == "TOTAL").Select(v => v.Importe).FirstOrDefault();
                                }
                                <td>
                                    $@Html.DisplayFor(modelItem => total)
                                </td>
                                <td class="text-center">
                                    @Html.ActionLink("Detalles", "Details", new {numVenta = item.NumVenta, codComprobante = item.CodComprobante, codModulo = item.CodModulo, numSucursal = item.NumSucursal }, new { @class = "btn btn-primary btn-sm" })
                                    <label>|</label>
                                    <form asp-controller="Ventas_E" class="d-inline">

                                        <button data-num-venta="@Html.DisplayFor(modelItem => item.NumVenta)"
                                                data-cod-comprobante="@Html.DisplayFor(modelItem => item.CodComprobante)"
                                                data-cod-modulo="@Html.DisplayFor(modelItem => item.CodModulo)"
                                                data-num-sucursal="@Html.DisplayFor(modelItem => item.NumSucursal)"
                                                onclick="llamarAReimpresion(this)"
                                                class="btn btn-primary btn-sm">
                                            Reimprimir
                                        </button>

                                        <input type="hidden" id="reporte-numVenta" name="numVenta" value="@Html.DisplayFor(modelItem => item.NumVenta)" />
                                        <input type="hidden" id="reporte-codComprobante" name="codComprobante" value="@Html.DisplayFor(modelItem => item.CodComprobante)" />
                                        <input type="hidden" id="reporte-codModulo" name="codModulo" value="@Html.DisplayFor(modelItem => item.CodModulo)" />
                                        <input type="hidden" id="reporte-numSucursal" name="numSucursal" value="@Html.DisplayFor(modelItem => item.NumSucursal)" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        function llamarAReimpresion(element) {

            var _numVenta = element.dataset.numVenta;
            var _codComprobante = element.dataset.codComprobante;
            var _codModulo = element.dataset.codModulo;
            var _numSucursal = element.dataset.numSucursal;

            var formData = {
                numVenta: _numVenta,
                codComprobante: _codComprobante,
                codModulo: _codModulo,
                numSucursal: _numSucursal
            };

            console.log(formData);

            $.ajax({
                url: '@Url.Action("LlamarAReimpresion", "Ventas_E")',
                type: 'POST',
                data: formData,
                success: function (response) {
                    console.log(response.message)
                },
                error: function (response) {
                    console.log(response.message)
                }
            })
        }
    </script>
}