@model IEnumerable<MVCVentas.Models.VMComprobante_E>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodComprobante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Modulo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodComprobante)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Modulo.CodModulo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CodComprobante">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CodComprobante">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CodComprobante">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
